.page-header__menu {
  & a {
    &::after {
      transition: width 0.2s ease;
    }
  }

  &:hover {
    &::after {
      transition: width 0.2s ease;
    }
  }
}

.social-block__list li {
  transition: all 0.2s ease;
}

.social-block__list li:nth-child(1) {
  transition-delay: 100ms;
}

.social-block__list li:nth-child(2) {
  transition-delay: 200ms;
}

.social-block__list li:nth-child(3) {
  transition-delay: 300ms;
}

.active {
  & .swiper-slide-active {
    & .slider__item-text {
      animation: move-text 0.5s 1 forwards ease 200ms;
    }
  }

  & .swiper-slide-next {
    & .slider__item-text {
      animation: move-text 0.5s 1 forwards ease 350ms;
    }
  }

  & .slider__item-title {
    animation: move-title 300ms 1 forwards linear;

    & span {
      transform: translateY(0);

      &:nth-child(1) {
        transition-delay: 50ms;
      }

      &:nth-child(5) {
        transition-delay: 90ms;
      }

      &:nth-child(even) {
        transition-delay: 280ms;
      }

      &:nth-child(odd) {
        transition-delay: 100ms;
      }
    }
  }
}

.form__field {
  transition: all 0.5s ease;
}
