@keyframes move-text {
  from {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0);
    opacity: 1;
  }
}

@keyframes move-text-reverse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-intro-span {
  from {
    transform: translate3d(0, 13rem, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes change-color-form-btn {
  from {
    color: #ffffff;
  }

  to {
    color: $c-dark;
  }
}

@keyframes scale-width-togle {
  from {
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fill-screen {
  from {
    z-index: 6;
    height: 0;
  }

  100% {
    z-index: 6;
    height: 100vh;
  }
}

@keyframes appear-footer-opacity {
  0% {
    background-color: #ffffff;
    opacity: 0;
  }

  100% {
    background-color: #ffffff;
    opacity: 1;
  }
}

@keyframes show-button-rules {
  from {
    color: transparent;
    opacity: 0;
    font-size: 0;
  }

  80% {
    color: transparent;
    font-size: 2.4rem;
  }

  to {
    font-size: 2.4rem;
    opacity: 1;
    color: $c-dark;
  }
}

@media (min-width: $stop-scaling) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
    }

    80% {
      color: transparent;
      font-size: 24px;
    }

    to {
      font-size: 24px;
      opacity: 1;
      color: $c-dark;
    }
  }
}

@media (max-width: $tablet) and (orientation: portrait) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
      width: 0;
    }

    80% {
      color: transparent;
      font-size: 1.8rem;
      width: 100%;
    }

    to {
      width: 100%;
      font-size: 1.8rem;
      opacity: 1;
      color: $c-dark;
    }
  }
}

@media (max-width: $mobile) and (orientation: landscape) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
    }

    80% {
      color: transparent;
      font-size: 1.8rem;
    }

    to {
      font-size: 1.8rem;
      opacity: 1;
      color: $c-dark;
    }
  }
}

@keyframes show-result-flamingo {
  from {
    opacity: 0;
    transform-origin: 80vw -20%;
    transform: rotate(-15deg);
  }

  to {
    opacity: 1;
    transform-origin: 80vw -20%;
    transform: rotate(0);
  }
}

@keyframes show-result-suitcase {
  from {
    transform-origin: 15vw 30vw;
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes show-result-leaf-right {
  from {
    opacity: 0;
    transform-origin: -10vw bottom;
    transform: rotate(0deg);
  }

  15% {
    opacity: 0.2;
    transform-origin: -10vw bottom;
    transform: rotate(-10deg);
  }

  30% {
    opacity: 0.5;
    transform-origin: -10vw bottom;
    transform: rotate(10deg);
  }

  45% {
    opacity: 1;
    transform-origin: -10vw bottom;
    transform: rotate(-5deg);
  }

  60% {
    transform-origin: -10vw bottom;
    transform: rotate(3deg);
  }

  75% {
    transform-origin: -10vw bottom;
    transform: rotate(-2deg);
  }

  100% {
    transform-origin: -10vw bottom;
    transform: rotate(0deg);
  }
}


@keyframes show-result-leaf-left {
  from {
    opacity: 0;
    transform-origin: 30vw bottom;
    transform: rotate(5deg);
  }

  15% {
    opacity: 0.2;
    transform-origin: 30vw bottom;
    transform: rotate(10deg);
  }

  30% {
    opacity: 0.5;
    transform-origin: 30vw bottom;
    transform: rotate(-7deg);
  }

  45% {
    opacity: 1;
    transform-origin: 30vw bottom;
    transform: rotate(5deg);
  }

  60% {
    transform-origin: 30vw bottom;
    transform: rotate(-2deg);
  }

  75% {
    transform-origin: 30vw bottom;
    transform: rotate(1deg);
  }

  100% {
    transform-origin: 20vw bottom;
    transform: rotate(0deg);
  }
}


@keyframes show-result-leaf-green {
  from {
    opacity: 0;
    transform-origin: -10vw bottom;
    transform: rotate(-15deg);
  }

  15% {
    opacity: 0.2;
    transform-origin: -10vw bottom;
    transform: rotate(8deg);
  }

  35% {
    opacity: 0.5;
    transform-origin: -10vw bottom;
    transform: rotate(-5deg);
  }

  50% {
    opacity: 1;
    transform-origin: -10vw bottom;
    transform: rotate(3deg);
  }

  65% {
    transform-origin: -10vw bottom;
    transform: rotate(-2deg);
  }

  80% {
    transform-origin: -10vw bottom;
    transform: rotate(1deg);
  }

  100% {
    transform-origin: -10vw bottom;
    transform: rotate(0deg);
  }
}

@keyframes result__flamingo-move {
  0% {
    transform-origin: 20vw bottom;
    transform: rotate(0);
  }

  50% {
    transform-origin: 20vw bottom;
    transform: rotate(-4deg);
  }

  100% {
    transform-origin: 0;
    transform: rotate(0);
  }
}

@keyframes show-result-form-btn {
  0% {
    color: transparent;
    opacity: 0;
  }

  40% {
    color: transparent;
    opacity: 1;
  }

  100% {
    color: $c-dark;
  }
}

@keyframes move-btn-story-right {
  0% {
    opacity: 0;
    transform: translate3d(9rem, 0, 0) rotate(190deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0) rotate(0);
  }
}

@keyframes move-btn-story-left {
  0% {
    opacity: 0;
    transform: translate3d(-9rem, 0, 0) rotate(-190deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0) rotate(0);
  }
}

@keyframes appear-pagination {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes move-btn-result-to-left {
  0% {
    opacity: 0;
    transform: translate3d(8rem, 0, 0) rotate(80deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0) rotate(0);
  }
}

@keyframes appear-btn-result-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-lead {
  0% {
    transform: translate3d(0, 2rem, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes move-down-footer {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 10rem, 0);
  }
}

@keyframes fill-story {
  0% {
    opacity: 1;
    z-index: 5;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes show-prizes {
  0% {
    opacity: 1;
    z-index: 7;
    background: none;
  }

  100% {
    opacity: 1;
    z-index: 7;
    background: none;
  }
}

@keyframes hide-prizes-wrapper {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
