@keyframes move-text {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-title {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes color-form-btn {
  from {
    color: #ffffff;
  }

  to {
    color: $c-dark;
  }
}

@keyframes width-togle {
  from {
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes height-screen {
  from {
    z-index: 6;
    height: 0;
  }

  to {
    z-index: 6;
    height: 100vh;
  }
}

@keyframes height-index-screen {
  from {
    z-index: 6;
  }

  to {
    z-index: 3;
  }
}

@keyframes move-rules-text {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-button-rules {
  from {
    color: transparent;
    opacity: 0;
    font-size: 0;
  }

  80% {
    color: transparent;
    font-size: 2.4rem;
  }

  to {
    font-size: 2.4rem;
    opacity: 1;
    color: $c-dark;
  }
}

@media (min-width: $stop-scaling) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
    }

    80% {
      color: transparent;
      font-size: 24px;
    }

    to {
      font-size: 24px;
      opacity: 1;
      color: $c-dark;
    }
  }
}

@media (max-width: $tablet) and (orientation: portrait) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
      width: 0;
    }

    80% {
      color: transparent;
      font-size: 1.8rem;
      width: 100%;
    }

    to {
      width: 100%;
      font-size: 1.8rem;
      opacity: 1;
      color: $c-dark;
    }
  }
}

@media (max-width: $mobile) and (orientation: landscape) {
  @keyframes show-button-rules {
    from {
      color: transparent;
      opacity: 0;
      font-size: 0;
    }

    80% {
      color: transparent;
      font-size: 1.8rem;
    }

    to {
      font-size: 1.8rem;
      opacity: 1;
      color: $c-dark;
    }
  }
}

