@keyframes move-text {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-title {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes color-form-btn {
  from {
    color: #ffffff;
  }

  to {
    color: $c-dark;
  }
}
